<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Instagram</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

    <!-- Top Title -->
    <div class="header">
        <h1>MINI Instagram App</h1>
    </div>

    <div class="container">
        <div class="card">
            <h2>Welcome</h2>
            <p>Please choose an option</p>

            <div class="button-group">
                <a href="/register-page" class="btn register-btn">Register</a>
                <a href="/login-page" class="btn login-btn">Login</a>
            </div>
        </div>
    </div>

</body>
</html>